body, html {
    height: 100%;
    margin: 0;
    font-family: 'Courier New', Courier, monospace;
    background-color: #f0f0f0;
    color: #333;
    display: flex;
    align-items: left;
    justify-content: left;
    text-transform: lowercase;
    flex-direction: column;
}

.container {
    text-align: left;
    width: 80%; /* Adjust the width of the container */
    max-width: 800px; /* Maximum width of the container */
    padding: 20px; /* Padding around the content */
    padding-left: 40px; /* Additional padding on the left */
}

h1 {
    font-size: 2.5em;
    margin-bottom: 0.5em;
}

p {
    font-size: 1.2em;
    margin-bottom: 1em;
}

ul {
    list-style-type: '> ';
    padding: 0;
}

ul li {
    text-align: left;
    margin-bottom: 0.5em;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    border-bottom: 1px solid #333; /* Adds a solid line at the bottom */
}

.profile-picture {
    width: 200px; /* Increased size */
    height: auto; /* Keeps the aspect ratio intact */
    border-radius: 50%;
    margin-right: 20px;
}

.navigation-menu {
    list-style: none;
    padding: 0;
    display: flex;
}

.navigation-menu li {
    margin-left: 20px;
}

.navigation-menu a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
}

.navigation-menu a:hover {
    color: #007bff; /* Change color on hover */
}

/* Responsive styles */
@media (max-width: 768px) {
    h1 {
        font-size: 2em; /* Smaller font size for h1 on smaller screens */
    }

    p, ul li {
        font-size: 1em; /* Smaller font size for paragraphs and list items on smaller screens */
    }

    .container {
        width: 90%; /* Increase the width of the container on smaller screens */
        padding-left: 20px; /* Adjust left padding for smaller screens */
    }
}

h2 {
    font-size: 2em;
    margin-top: 40px;
}

.experience {
    margin-top: 20px;
}

.experience h3 {
    font-size: 1.5em;
    margin-bottom: 10px;
}

.experience p {
    font-size: 1em;
    margin-bottom: 10px;
}

.skills {
    font-style: italic;
    color: #555;
}

.collapsible {
    cursor: pointer;
    border: none;
    text-align: left;
    outline: none;
    font-size: 2em;
    transition: color 0.3s ease; /* Smooth transition for hover effect */
}

.collapsible:hover {
    color: #555; /* Change color on hover */
}

.collapsible-symbol {
    margin-right: 10px;
    transition: transform 0.3s ease; /* Smooth transition for rotation */
}

.shower-thoughts-list {
    list-style-type: '• '; /* Change symbol for this list */
    margin-left: 50px; /* Adds indentation to the list */
}

.shower-thoughts-list li {
    margin-bottom: 0.5em; /* Adjust spacing between list items if needed */
}

.content {
    padding: 0 18px;
    display: none;
    overflow: hidden;
}

/* Rotate symbol when collapsible is active */
.collapsible.active .collapsible-symbol {
    transform: rotate(90deg);
}


footer {
    text-align: center;
    padding: 20px 0;
    margin-top: 20px;
    border-top: 1px solid #333;
}

footer p {
    margin-bottom: 10px; /* Space between the sentence and links */
    color: #333;
    font-family: 'Courier New', Courier, monospace;
}

footer a {
    margin: 0 15px;
    color: #333;
    text-decoration: none;
    font-family: 'Courier New', Courier, monospace;
}

footer a:hover {
    text-decoration: underline;
}